.img-logo-parking{
    width: 7%;
    @media(max-width: 678px){
        width: 20%;
    }
}

.name-parking{
    @media(max-width: 678px){
        font-size: 16px;
    }
}

.imgs-parking{
    height: 100%;
}

.desktop{
    display: block;
    @media(max-width: 678px){
        display: none;
    }
}

.mobile{
    display: none;
    @media(max-width: 678px){
        display: block;
    }
}

.div-informacion-parking{
    @media(max-width: 678px){
        padding: 0% 5%;
    }
}

.div-img-park{
    display: flex;
    justify-content: center;
}

.div-info{
    font-size: 20px;
    img{
        width: 20%;
    }
    @media(max-width: 678px){
        font-size: 15px;
        margin-bottom: 5%;
        img{
            width: 12%;
        }
    }
}

.div-btn-reservar{
    margin-top: 5%;
    @media(max-width: 678px){
        margin-top: 2%;
    }
}

.btn-reservar{
    background-color: #1A97E8;
    @media(min-width: 679px){
        padding: 1% 8%;
    }
}

// Título información
.title-info{
    @media(max-width: 678px){
        font-size: 15px;
        margin-top: 5px;
    }
}