<div class="container">
  <!-- Cerrar modal -->
  <div (click)="dismiss()" class="mt-4 ms-2">
    <i class="fas fa-arrow-left"></i>
  </div>
  <!-- logo parqueadero -->
  <div class="text-center">
    <img class="img-logo-parking" src="../../../../../assets/img/user/logo-parqueadero.png" width=""
      alt="Logo parqueadero">
    <h1 class="name-parking">{{ parking.data.nameParqueadero }}</h1>
  </div>

  <!-- Imagenes del parqueadero en Desktop -->
  <div class="slide-img-parking desktop p-5 pt-4 pb-2">
    <div class="row">
      <div *ngFor="let img of parking.data.images" class="col div-img-park">
        <img width="50%" class="imgs-parking" src="{{ img }}" />
      </div>
    </div>
  </div>

  <!-- Imagenes del parqueadero en Mobile -->
  <div class="slide-img-parking mobile">
    <ion-slides [pager]="true">
      <ion-slide *ngFor="let img of parking.data.images">
        <div class="slide">
          <img class="imgs-parking" src="{{ img }}" />
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Info parqueadero -->
  <h1 class="text-center title-info">Información</h1>
  <hr>

  <div class="row justify-content-center div-informacion-parking">
    <div class="col-sm-12 col-lg-3 div-info">
      <img class="m-1" src="../../../../../assets/img/user/icon-location.png"alt="icono ubicación">
      {{ parking.data.direccion }}
    </div>
    <div class="col-sm-12 col-lg-3 div-info">
      <img class="m-1" src="../../../../../assets/img/user/icon-reloj.png" alt="icono reloj">
      {{ parking.data.horario }}
    </div>
    <div class="col-sm-12 col-lg-3 div-info">
      <img class="m-1 mb-0" src="../../../../../assets/img/user/icon-telephone.png" alt="icono telefono">
      {{ parking.data.telefono }}
    </div>
  </div>
  <div class="text-center div-btn-reservar">
    <button class="btn btn-reservar btn-lg text-white" (click)="bookingModal()">Reservar</button>
  </div>
</div>