<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="menu"></ion-menu-button>
      </ion-buttons>

      <ion-title>parqueadero</ion-title>

      <ion-col sizeLg="4" sizeSm="12" sizeXs="12">
        <ion-button (click)="openModal()" color="primary">
          crear
        </ion-button>
      </ion-col>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-menu side="start" menuId="menu" contentId="parqueo">
      <ion-content>
        <div class="menu-header-bg">menu</div>
        <div class="header-content">
          <img [src]="dataUser.icono" width="120px" alt="Prueba">
          <ion-label>
            <h2 class="menu-text">{{ dataUser.nombre }}</h2>
            <p>dueño de parqueadero</p>
          </ion-label>
          <!-- <ion-icon name="settings-outline"></ion-icon> -->
        </div>
        <ion-list class="menu-items" lines="none">
          <ion-item routerLink="/parqueadero">
            <ion-icon name="home-outline" class="ion-padding-horizontal"></ion-icon> Bandeja de entrada
          </ion-item>
          <ion-item routerLink="/parqueadero/crud">
            <ion-icon name="albums-outline" class="ion-padding-horizontal"></ion-icon> Gestion empleado
          </ion-item>
          <ion-item routerLink="/parqueadero/reservas">
            <ion-icon name="calendar-outline" class="ion-padding-horizontal"></ion-icon> Reservas
          </ion-item>
          <ion-item routerLink="/parqueadero/configuracion">
            <ion-icon name="settings-outline" class="ion-padding-horizontal"></ion-icon> Configuracion
          </ion-item>
          <ion-item routerLink="#" (click)="logout()">
            <ion-icon name="log-out-outline" class="ion-padding-horizontal"></ion-icon> Cerrar Sesion
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="parqueo"></ion-router-outlet>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let datos of listaParqueadero " sizeLg="8" offsetLg="2" sizeSm="12" sizeXs="12" >
          <ion-item id="item" *ngIf="datos.userid === 'JO9qMOKsMVbBqhrJ7qGsdesfA5V2'">
            <ion-item routerLink="/parqueadero/par-home">
              <img class="clas1" [src]="datos.img" width="100px" alt="Park" class="ion-margin-horizontal" />
              <ion-text id="text">
                <h3>{{ datos.nameParqueadero }}</h3>
                <!--*direccion del parqueadero -->
                Direccion: {{ datos.direccion }}
              </ion-text>
              
            </ion-item>
              <ion-icon color="danger" (click)="eliminarP(datos.id)" name="trash-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-app>
