<ion-header>
  <ion-toolbar>
    <ion-title>cambio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="4" offsetLg="4" sizeSm="4" offsetSm="4" sizeXs="12" > 
              <h2 id="text">¡Gracias!</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="4" offsetLg="4" sizeSm="4" offsetSm="4" sizeXs="12" > 
            <p id="txt">Realizaste tu solicitud de cambio de rol de parqueadero a usuario con éxito, en las próximas horas te llegará un correo en respuesta a tu solicitud.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="2" offsetLg="5" sizeSm="4" offsetSm="4" sizeXs="12" > 
            <ion-button routerLink="/parqueadero" expand="block" color="primary" mode="ios" class="ion-margin-top">
              Aceptar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
