<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informacion del Atomovil Lista</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/novedad"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
    <h1 class="ion-text-center" id="titulo2">INFORMACION DEL AUTOMOVIL</h1>
  </ion-col>

  <ion-grid>
    <ion-row>

      <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Placa</ion-label>
          <ion-input type="text" placeholder="" value="AAA-123 Bogota D.C"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Modelo</ion-label>
          <ion-input type="text" placeholder="" value="2016"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marca</ion-label>
          <ion-input type="text" placeholder="" value="CHEVROLET"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type="text" placeholder="" value="300541214"></ion-input>
          </ion-item>
          <h1 class="ion-text-center" id="titulo2">Fotografia-estado del automovil </h1>
          <img src="../../../../assets/carro.png" alt="">
          <h1 class="ion-text-center">Novedad</h1>
          <p>
            El vehiculo esta en buen estado
          </p>
          <img src="../../../../assets/carro.png" alt="">
          <ion-button  expand="block" color="primary" mode="ios" class="ion-margin-top">
            Confirmar
          </ion-button>
          </ion-col>


    
    
    </ion-row>
  </ion-grid>



  
</ion-content>
