<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->
<ion-header>
  <ion-toolbar>
    <ion-title>RESERVAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="body" fullscreen> 
  <ion-grid>
    <ion-row>
      
      <!-- Titulo principal de la pagina -->
      <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
    <h1 class="ion-text-center" id="titulo2">RESERVAS</h1>
    </ion-col>
  
    
    <ion-col *ngFor="let booking of parkingBookings" id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
      <ion-item>
        <ion-avatar slot="start">
          <img id="imag2" src="https://img.freepik.com/free-vector/woman-avatar-profile-round-icon_24640-14042.jpg"/>
        </ion-avatar>
        <p>Fecha reserva {{ booking.data.dateBooking | date:'dd/MM/yyyy' }}</p>
        <p>Hora llegada {{ booking.data.hourArrive }}</p>
        <p>Tipo de vehículo {{ booking.data.typeVehicle }}</p>
        <p>Marca vehículo {{ booking.data.marcaVehicle }}</p>
        <p>Placa vehículo {{ booking.data.placaVehicle }}</p>
        <p>Tiempo de parqueo {{ booking.data.timeParking }}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>


