<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="notifications"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
        <div class="ion-text-center">
          <h1 id="titulo2">Capacidad de Automoviles</h1>
        </div>
      </ion-col>
    </ion-row>
      
        <ion-col size="12" class="ion-justify-content-start">
          <ion-row>
          
            <ion-col id="text2" class="ion-justify-content-end position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
              <p id="numero20">
                 50 
              </p>
              <p id="contenido2">
                El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
              </p>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
            <div class="ion-text-center">
              <h1 id="titulo2">Cupos disponibles en tiempo real</h1>
              </div>
          </ion-col>
        </ion-row>
      
        <ion-row>
          
          <ion-col id="text2" class="ion-justify-content-end position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
            <p id="numero20">
               10
            </p>
            <p id="contenido2">
              El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
            <div class="ion-text-center">
              <h1 id="titulo2">Costo no editable</h1>
              </div>
          </ion-col>
        </ion-row>

        <ion-row>
          
          <ion-col id="text2" class="ion-justify-content-center position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
            <img id="imag1" src="https://images.vexels.com/media/users/3/145759/isolated/preview/1ed942cd576a9f4ae65a8e1d85b71b60-fajo-de-dinero.png" alt="">
            <p id="contenido2">
              En la reserva ya esta el precio fijo
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
            <div class="ion-text-center">
              <h1 id="titulo2">Cupos disponibles del parqueadero</h1>
              </div>
          </ion-col>
        </ion-row>

        <ion-row>
          
          <ion-col id="text2" class="ion-justify-content-center position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
            <p id="numero20">
               10
            </p>
            <img id="img1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAPFBMVEX///8jHyAAAADW1dUEAAD19fXo5+fb29t1c3M5NTYRCQyGhYUVDxAfGhtZV1fZ2NhoZmYsKCl/fX6zs7NqNTEPAAABxElEQVR4nO3d3Y6CMBRFYVrLX20F9P3fdcaLyYx4MSGhrbtd3wOYs0IEMZDTdQAAAAAAAAAAAAAAAAAAAEAx/TAMfekhEhqn2Vs/T2PpQVK5uhCNMTG4a+lR0rhZ88PeSg+Twt2ZX+5eepzzLdb8ZZfSA51uDS+FYS090Nn6Lb4Uxq22i8bozStf2yXjYneF9lJ6pJNRqI9CfRTqo1Afhfoo1EehPgr1UaiPQn0U6qNQH4X6KNRHoT4K9VGoj0J9FOqjUB+F+ijUt7wVfvojtP14OWJ5uF2heyyHPmHM+zzqsm7eHrIP/E489gF+WzMe9bsN8W3i1GKw2R5/v70fkDxcppcYrvuTRj42y6soY6kj+ORyPB0+hf8HSSZM6QP7Of9J5lec0180hv1rBXn5IX1hufPMk81QWP0xrP97WP+5tIHrYf2/aRr4XdrAvUUD94dd/ff4x+n9T3NU/f+1UaiPQn0U6qNQH4X6KNRHoT4K9VGoj0J9FOqjUB+F+ijUR6E+CvVRqI9CfRTqo1Afhfoo1Ff/fov6d5TUv2emgV1B9e97amBnVwN71xrYndfVv/8QAAAAAAAAAAAAAAAAAAAAH+8LQXgcVpkMYjkAAAAASUVORK5CYII=" alt="">
            <img id="img1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAPFBMVEX///8jHyAAAADW1dUEAAD19fXo5+fb29t1c3M5NTYRCQyGhYUVDxAfGhtZV1fZ2NhoZmYsKCl/fX6zs7NqNTEPAAABxElEQVR4nO3d3Y6CMBRFYVrLX20F9P3fdcaLyYx4MSGhrbtd3wOYs0IEMZDTdQAAAAAAAAAAAAAAAAAAAEAx/TAMfekhEhqn2Vs/T2PpQVK5uhCNMTG4a+lR0rhZ88PeSg+Twt2ZX+5eepzzLdb8ZZfSA51uDS+FYS090Nn6Lb4Uxq22i8bozStf2yXjYneF9lJ6pJNRqI9CfRTqo1Afhfoo1EehPgr1UaiPQn0U6qNQH4X6KNRHoT4K9VGoj0J9FOqjUB+F+ijUt7wVfvojtP14OWJ5uF2heyyHPmHM+zzqsm7eHrIP/E489gF+WzMe9bsN8W3i1GKw2R5/v70fkDxcppcYrvuTRj42y6soY6kj+ORyPB0+hf8HSSZM6QP7Of9J5lec0180hv1rBXn5IX1hufPMk81QWP0xrP97WP+5tIHrYf2/aRr4XdrAvUUD94dd/ff4x+n9T3NU/f+1UaiPQn0U6qNQH4X6KNRHoT4K9VGoj0J9FOqjUB+F+ijUR6E+CvVRqI9CfRTqo1Afhfoo1Ff/fov6d5TUv2emgV1B9e97amBnVwN71xrYndfVv/8QAAAAAAAAAAAAAAAAAAAAH+8LQXgcVpkMYjkAAAAASUVORK5CYII=" alt="">
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col id="col1" sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" > 
            <ion-button routerLink="/cupos2" id="boton1"  expand="block" color="primary" mode="ios" class="ion-margin-top">
              Actualizar
            </ion-button>
          </ion-col>
        </ion-row>
        </ion-col>
</ion-grid>
</ion-content>