<!-- !Pagina web y aplicacion movil:Tuparqueadero
!Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
!Ficha 2252471 ADSI
!Redes sociales: Tuparqueadero -->
<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="notifications"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Contenido Actualizado -->
      <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
        <div class="ion-text-center">
          <h1 id="titulo2">Capacidad de Automoviles</h1>
        </div>
      </ion-col>
    </ion-row>
      
        <ion-col size="12" class="ion-justify-content-start">
          <ion-row>
          
            <ion-col id="text2" class="ion-justify-content-end position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
              <p id="numero20">
                 50 
              </p>
              <p id="contenido2">
                El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
              </p>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
            <div class="ion-text-center">
              <h1 id="titulo2">Cupos disponibles en tiempo real</h1>
              </div>
          </ion-col>
        </ion-row>
      
        <ion-row>
          
          <ion-col id="text2" class="ion-justify-content-end position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
            <p id="numero20">
               10
            </p>
            <p id="contenido2">
              El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
            </p>
          </ion-col>
        </ion-row>
        <!-- No editable -->
        <ion-row>
          <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
            <div class="ion-text-center">
              <h1 id="titulo2">Costo no editable</h1>
              </div>
          </ion-col>
        </ion-row>

        <!-- Preciono no modificable -->
        <ion-row>
          <ion-col id="text2" class="ion-justify-content-center position-relative" sizeLg="6" offsetLg="3" sizeSm="4" offsetSm="5" sizeXs="12">
            <img id="imag1" src="https://images.vexels.com/media/users/3/145759/isolated/preview/1ed942cd576a9f4ae65a8e1d85b71b60-fajo-de-dinero.png" alt="">
            <p id="contenido2">
              En la reserva ya esta el precio fijo
            </p>
          </ion-col>
        </ion-row>

        <!-- Boton actualizar -->
        <ion-row>
          <ion-col id="col1" sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" > 
            <ion-button routerLink="/cupos2" id="boton1"  expand="block" color="primary" mode="ios" class="ion-margin-top">
              Actualizar
            </ion-button>
          </ion-col>
        </ion-row>
        </ion-col>
</ion-grid>
</ion-content>