<ion-header>
  <ion-toolbar>
    <ion-title>Bandeja de entrada</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button id="main"></ion-menu-button>
        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-split-pane when="(min-width: 1200px)"> -->

<!-- </ion-split-pane> -->
<ion-grid>
  <ion-row>
    
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item>
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
