<ion-header>
  <ion-toolbar>
    <ion-title>Bandeja de entrada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<ion-grid>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" >Bandeja de entrada</ion-item>
        <ion-item routerLink="/home/parqueaderos" >Parqueaderos</ion-item>
        <ion-item routerLink="/home/configuracion-cuenta" >Configiuracion</ion-item>
        <ion-item routerLink="#" (click)="logout()">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-row>
    
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
      <ion-item routerLink="/home/validacion-cuenta-parqueadero">
        <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
        <ion-text class="letra">
          <h3>Titulo</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
