div{
    text-align: center;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}
#primer_dia{
    grid-column-start: 2;
}
.dia{
    font-weight: bold;
    padding-bottom: 20px;
}
.dis{
    padding-bottom: 50px;
}