#icono-carro{
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

#txt{
    margin-left: 4px;
}

#img{
    display: flex;
}
#img2{
    display: flex;
}


#h3{
    color: rgb(27, 145, 255);
}
#lines{
    color: rgb(27, 145, 255);
};

