<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title>reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid>
  <ion-row>
    <ion-col id="img" sizeLg="4" offsetLg="5" sizeSm="4" offsetSm="5" sizeXs="6" offsetXs="3">
      <img id="icono-carro" src="../../../../../assets/img/384e0b3361d99d9c370b4037115324b9-icono-de-coche-plano-vintage.png" alt="icono-carro">
      <p id="txt">Mi parqueadero</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
      <ion-item-divider id="lines">
        <h3 id="h3">Informacion</h3>
      </ion-item-divider>
      <h4>
        Nombre
      </h4>
      <p>Andres -------------</p>
      <h4>
        Hora
      </h4>
      <p>2 pm</p>
      <h4>
        Contacto
      </h4>
      <p>3104562388</p>
      <h4>
        Tipo de veiculo
      </h4>
      <p>Automovil</p>
      <h4>
        Placa
      </h4>
      <p>mps2.......</p>
      <ion-button routerLink="/reserva" expand="block" color="primary" mode="ios" class="ion-margin-top">
        Regresar
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
