<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title>crear empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid>
    <ion-row>
      <ion-col id="txt" sizeLg="4" offsetLg="4" sizeSm="4" offsetSm="4" sizeXs="6" offsetXs="3">
        <p>Crear Empleado</p>
      </ion-col>
      <ion-col id="img" sizeLg="4" offsetLg="4" sizeSm="4" offsetSm="4" sizeXs="6" offsetXs="3">
        <img id="icono-carro" src="../../../../assets/img/585e4beacb11b227491c3399.png" alt="icono-carro">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" placeholder="Apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de documento</ion-label>
            <ion-input type="text" placeholder="Tipo de documento"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">N. Celular</ion-label>
            <ion-input type="text" placeholder="Celular" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="password" placeholder="Correo" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Contraseña" ></ion-input>
          </ion-item>
          <ion-button routerLink="/parqueadero" expand="block" color="primary" mode="ios" class="ion-margin-top">
            Confirmar
          </ion-button>
          
          <ion-button  expand="block" mode="ios" fill="outline">
            <ion-icon name="logo-google" ></ion-icon>           
          </ion-button>
        </ion-col>
        <ion-col sizeLg="4" offsetLg="1" sizeSm="12" sizeXs="12">
          
        </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
