<ion-header>
</ion-header>
<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="4" offsetMd="4">
          <ion-text color="primary" class="ion-text-center">
            <h1 color="primary">Registrarse</h1>
          </ion-text>
            <ion-card>
              <ion-card-content>
                <ion-item class="ion-margin-vertical">
                  <ion-label position="floating">Nombre:</ion-label>
                  <ion-input type="text" placeholder="Nombre" [(ngModel)]="datos.nombre" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    Telefono:
                  </ion-label>
                  <ion-input type="text" placeholder="Telefono" [(ngModel)]="datos.telefono" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Correo:</ion-label>
                  <ion-input type="text" placeholder="Correo" [(ngModel)]="datos.correo" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="Contraseña" [(ngModel)]="datos.password" ></ion-input>
                </ion-item>
                <div class="ion-text-center">
                  <ion-button  color="primary" class="ion-margin-top"  mode="ios" (click)="registrar()">
                    Registrarse
                  </ion-button>
                </div> 
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="2" offsetLg="3" sizeMd="2" offsetMd="3" sizeXs="12">
          <ion-button (click)="loginGoogle()" expand="block" mode="ios" fill="outline">
            <img src="../../../assets/goole.png" width="30px" alt="Google_logo" />          
          </ion-button>
        </ion-col>
        <ion-col sizeLg="2" sizeMd="2" sizeXs="12">
          <ion-button (click)="loginFacebook()" expand="block" fill="outline" mode="ios">
            <img src="../../../assets/facebook.png" width="30px" alt="Facebook_logo">
          </ion-button>
        </ion-col>
        <ion-col sizeLg="2" sizeMd="2" sizeXs="12">
          <ion-button (click)="loginTwitter()" expand="block" fill="outline" mode="ios">
            <img src="../../../assets/Twitter.png" width="30px" alt="Twitter_logo">
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-button  expand="block" fill="clear" routerLink="/login">
        Ya tengo cuenta
      </ion-button>
    </ion-grid>
</ion-content>
