<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="4" offsetMd="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center" color="primary">Registrarse</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item class="ion-margin-vertical">
                  <ion-label position="floating">Nombre:</ion-label>
                  <ion-input type="text" placeholder="Nombre" [(ngModel)]="datos.nombre" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    Telefono:
                  </ion-label>
                  <ion-input type="text" placeholder="Telefono" [(ngModel)]="datos.telefono" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Correo:</ion-label>
                  <ion-input type="text" placeholder="Correo" [(ngModel)]="datos.correo" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="Contraseña" [(ngModel)]="datos.password" ></ion-input>
                </ion-item>
                <ion-button expand="block" color="primary" mode="ios" class="ion-margin-top" (click)="registrar()">
                    Registrarse
                </ion-button>
                <ion-button (click)="loginGoogle()" expand="block" mode="ios" fill="outline">
                  <ion-icon name="logo-google" ></ion-icon>           
                </ion-button>
                <ion-button (click)="loginFacebook()" expand="block" fill="outline" mode="ios">
                  <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
                <ion-button (click)="loginTwitter()" expand="block" fill="outline" mode="ios">
                  <ion-icon name="logo-twitter"></ion-icon>
                </ion-button>
              </ion-card-content>
              <ion-button  expand="block" fill="clear" routerLink="/login">
                Ya tengo cuenta
              </ion-button>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
