<ion-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="1"></ion-col>
      <ion-col size="12" size-lg="10">

        <ion-card class="card">

          <ion-row>
  
            <ion-col size="12" size-md="6">
              <div class="div-img-logo">
                <img src="../../../assets/img/user/logo-parqueadero.png" id="logo" />
              </div>
            </ion-col>
  
            <ion-col id="col">
              
              <ion-text color="primary" class="ion-text-center title-register">
                <h1 color="primary">Registrarse</h1>
              </ion-text>

  
            <ion-item>
              <ion-label position="floating" color="primary">Nombre:</ion-label>
              <ion-input type="text" placeholder="Nombre" [(ngModel)]="datos.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Telefono:</ion-label>
              <ion-input type="text" placeholder="Telefono" [(ngModel)]="datos.telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Correo:</ion-label>
              <ion-input type="text" placeholder="Correo" [(ngModel)]="datos.correo"></ion-input>
            </ion-item>
            <p *ngIf="email" class="text-danger">Este email ya esta en uso en otra cuenta</p>
            <ion-item>
              <ion-label position="floating" color="primary">Contraseña</ion-label>
              <ion-input type="password" minlength="6" placeholder="Contraseña" [(ngModel)]="datos.password">
              </ion-input>
            </ion-item>
            <p *ngIf="caracteres" class="text-danger">La contraseña debe tener minimo 6 caracteres firebase </p>
            <!-- <p *ngIf="longitud" class="text-danger" >La contraseña debe tener minimo 6 caracteres TypeScript </p> -->
            <ion-item>
              <ion-label position="floating" color="primary">Verifica tu Contraseña</ion-label>
              <ion-input type="password" minlength="6" placeholder="Contraseña" [(ngModel)]="verificar"></ion-input>
            </ion-item>
            <p *ngIf="invalid" class="text-danger">Las contraseñas no coinciden</p>
            <div class="ion-text-center">
              <ion-button color="primary" class="ion-margin-top btn-registrarse" mode="ios" (click)="registrar()">
                Registrarse
              </ion-button>
            </div>
  
            <ion-row>
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
                <div class="ion-text-center">
                  <ion-button class="btn-google" (click)="loginGoogle()" mode="ios" fill="outline">
                    <img src="../../../assets/goole.png" width="30px" alt="Google_logo" />
                  </ion-button>
                </div>
              </ion-col>
              <!-- <ion-col sizeLg="2" sizeMd="2" sizeXs="12">
                <ion-button (click)="loginFacebook()" expand="block" fill="outline" mode="ios">
                  <img src="../../../assets/facebook.png" width="30px" alt="Facebook_logo">
                </ion-button>
              </ion-col>
              <ion-col sizeLg="2" sizeMd="2" sizeXs="12">
                <ion-button (click)="loginTwitter()" expand="block" fill="outline" mode="ios">
                  <img src="../../../assets/Twitter.png" width="30px" alt="Twitter_logo">
                </ion-button>
              </ion-col> -->
            </ion-row>
            <ion-button expand="block" fill="clear" routerLink="/login">
              Ya tengo cuenta
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
