.card{
    border-radius: 10px;
    background: rgb(26, 151, 232);
}

#logo{
    width: 60%;
    margin-top: 150px;
    margin-left: 100px;
}

#col{
    background: white;
}

.ion-text-center{
    margin-top: 30px ;
}

#text{
    color: rgb(26, 151, 232);
    margin-top: 30px;
}

.fondo{
    background: black;
}

#correo{
    background: rgb(44, 44, 44);
}

#contraseña{
    background: rgb(44, 44, 44) ;
}
