// Contenedor modal búsqueda lugares
.modal-places{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 0px;
    ion-button{
        width: 100%;
        height: 100%;
        --border-radius: 50px;
    }
    @media(min-width: 678px){
        height: 8%;
        bottom: 25px;
        ion-button{
            height: 100%;
            width: 22%;
            font-size: 18px;
        }
    }
}

// Modal ionic
ion-modal {
    --ion-background-color: #FFFFFF;
    --ion-text-color: #000000;
    --border-radius: 30px;
}

// Label selecciona destino
.text-selecciona{
    font-size: 24px;
    color: #1A97E8;
}