<ion-menu side="start" menuId="menu" contentId="parqueo">
  <ion-content>
    <div class="menu-header-bg">menu</div>
    <div class="header-content">
      <img src="../../../assets/img/585e4beacb11b227491c3399.png" alt="icono">
      <ion-label>
        <h2>Andres</h2>
        <p>dueño de parqueadero</p>
      </ion-label>
    </div>
    <ion-list class="menu-items" lines="none">
      <ion-item routerLink="/home">
        <ion-icon name="home-outline" class="ion-padding-horizontal"></ion-icon> Bandeja de entrada
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon name="person-add-outline" class="ion-padding-horizontal"></ion-icon> Crear empleado
      </ion-item>
      <ion-item >
        <ion-icon name="person-remove-outline" class="ion-padding-horizontal"></ion-icon> Borrar empleado
      </ion-item>
      <ion-item >
        <ion-icon name="calendar-outline" class="ion-padding-horizontal"></ion-icon> Reservas
      </ion-item>
      <ion-item >
        <ion-icon name="map-outline" class="ion-padding-horizontal"></ion-icon> Mapa
      </ion-item>
      <ion-item >
        <ion-icon name="swap-horizontal-outline" class="ion-padding-horizontal"></ion-icon> Cambio de rol
      </ion-item>
      <ion-item routerLink="#" (click)="logout()" >
        <ion-icon name="log-out-outline" class="ion-padding-horizontal"></ion-icon>  Cerrar Sesion
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="parqueo"></ion-router-outlet>
