<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="menu" ></ion-menu-button>
      </ion-buttons>
      
      <ion-title>parqueadero</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <ion-content>
    <!-- <app-menu></app-menu> -->
    <ion-grid>
      <ion-row *ngIf="Parqueadero">
        <ion-col sizeLg="10" offsetLg="1" sizeMd="10" offsetMd="1" sizeSm="12">
          <ion-card>
          <ion-card-header>
            <ion-item>
              <!-- <img src="../../../../assets/users.png" alt="Usuario" class="imgp"> -->
              <img [src]="Parqueadero.data.img" alt="Usuario" class="imgp">
  
            </ion-item>
            <ion-item lines="none">
              <ion-icon (click)="presentPopover( $event )" class="linea"  slot="end" name="list-outline"></ion-icon>
            </ion-item>
            </ion-card-header>
            <ion-card-content *ngIf="datosUser" >
                <p class="titulo"><strong> Descripcion: </strong></p>
                <p class="textoB">{{ Parqueadero.data.descripcion }}</p>  
                <br>
                <p  class="titulo"><strong>Nombre del parquedero</strong></p>
                <p class="textoB">{{ Parqueadero.data.nameParqueadero }}</p>
                <br>
                <p  class="titulo"><strong>Ubicacion: </strong></p>
                <p class="textoB">{{ Parqueadero.data.ubicacion }}</p>
                <br>
                <p  class="titulo"><strong>Horario del parquedero: </strong></p>
                <p class="textoB">{{ Parqueadero.data.horario }}</p>
                <br>
                <p class="titulo"><strong>Tarifa del parqueadero: </strong></p>
                <p class="textoB">{{ Parqueadero.data.tarifa }}</p>
                <br>
                <p  class="titulo"><strong>Pagina web (Opcional): </strong></p>
                <p class="textoB"><a [href]="Parqueadero.data.pagina" target="blank">Pagina web</a></p>
                <br>
              </ion-card-content>
              <ion-card-content *ngIf="imagenes">
                <p  class="titulo"><strong>Imagenes del parqueadero: </strong></p>
                <ion-row>
                  <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12">
                    <img [src]="Parqueadero.data.img1" alt="Parqueadero 1" class="imgp1">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12">
                    <img [src]="Parqueadero.data.img2" alt="Parqueadero 2" class="imgp1">
                  </ion-col>
                </ion-row>
              </ion-card-content>
                <ion-card-content *ngIf="constitucion">
                  <p><strong  class="titulo">Constitucion de poliza de responsabilidad civil extracontractual: </strong></p>
                  <ion-row>
                    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                      <iframe [src]="pdf1Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-card-content *ngIf="camara">
                  <p><strong  class="titulo">Camara de comercio: </strong></p>
                  <ion-row>
                    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                      <iframe [src]="pdf2Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-card-content *ngIf="licencia">
                  <p><strong  class="titulo">Licencia de funcionamiento: </strong></p>
                  <ion-row>
                    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                      <iframe [src]="pdf3Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-card-content *ngIf="seguridad">
                  <p><strong  class="titulo">Documento detallado de la seguridad del parqueadero: </strong></p>
                  <ion-row>
                    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                      <iframe [src]="pdf4Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-card-content *ngIf="Usuario">
                  <p><strong  class="titulo">Informacion del Usuario: </strong></p>
                  <ion-row>
                    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                      <ion-item>
                        <!-- <img src="../../../../assets/users.png" alt="Usuario" class="imgp"> -->
                        <img [src]="ver.icono" alt="Usuario" class="imgp">
                      </ion-item>
                      <p class="titulo">Nombre:</p>
                      <p class="textopB">{{ ver.nombre }} </p>
                      <p class="titulo">Telefono:</p>
                      <p class="textopB">{{ ver.telefono }} </p>
                      <p class="titulo">Correo:</p>
                      <p class="textopB">{{ ver.correo }} </p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-card-content> 
                  <ion-button slot="end" (click)="createPdf()" expand="block">
                    Generar PDF <ion-icon name="download-outline" color="success" ></ion-icon>
                  </ion-button>
                </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

