<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="6" offsetMd="3" sizeSm="10" offsetSm="1">
        
        <ion-card>
          <ion-text class="ion-text-center">
            <h1 id="text">Recuperar Contraseña</h1>
          </ion-text>
          <img src="../../../assets/img/user/password.png" id="pwd">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center" ><h2 class="color-text">Ingresa Tu Correo Electronico Para Recuperar La contraseña</h2></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating" id="text"><h2>Ingrese su correo</h2></ion-label>
              <ion-input type="email" placeholder="Ingrese su correo"  [(ngModel)]="emailU" ></ion-input>
            </ion-item>
          </ion-card-content>

          <ion-button (click)="Reset()" expand="block" fill="clear">Enviar correo de recuperación.
          </ion-button>

        </ion-card>
        <!-- <h1 *ngIf="rec" >El correo que ingreso no esta registrado en nuestra aplicacion o esta mal escrito</h1> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
