<ion-header translucent>
  <ion-toolbar>
    <ion-title>Empleado del parqueadero</ion-title>
  </ion-toolbar> 
</ion-header>
  
  <ion-content>
    <ion-menu side="start" menuId="first" contentId="main">
          <ion-title>Menu</ion-title>
      <ion-content>
        <ion-list>
          <ion-item><ion-icon name="mail-outline" class="ion-padding-horizontal"></ion-icon> Bandeja de entrada</ion-item>
          <ion-item><ion-icon name="pricetag-outline" class="ion-padding-horizontal"></ion-icon> Cupos</ion-item>
          <ion-item ><ion-icon name="cart-outline" class="ion-padding-horizontal"></ion-icon> Reservas Locales</ion-item>
          <ion-item (click)="logout()" ><ion-icon name="log-out-outline" class="ion-padding-horizontal"></ion-icon> Cerrar sesión</ion-item>
          
        </ion-list>
      </ion-content>
    </ion-menu>

      
    
    <ion-content class="ion-padding">
      <ion-row>
      <ion-col>
        
        <div class="ion-text-center">
          <p id="titulo">Tuparqueadero</p>
          <img id="imagen" src="https://www.carroya.com/noticias/sites/default/files/entradillas/432216777nidoo-parqueaderos-cy.jpg"><img>
          <h1 style="font-size:50px;">¿Quienes somos?</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum, consectetur iste nobis labore iusto veritatis mollitia dolores, temporibus hic ipsa asperiores, ipsum voluptates magnam. Similique fugiat mollitia commodi consectetur autem sed corporis, illum eaque non tenetur ad. Ab asperiores atque doloribus veritatis quasi illum dolor distinctio eum, facere provident nesciunt fugiat veniam ducimus odio quae nobis libero magnam necessitatibus amet velit neque. Hic nemo natus dicta corporis voluptatibus facilis odio nisi maxime iusto architecto. Atque similique eveniet odit possimus, obcaecati non provident dolorem optio sit excepturi maiores laboriosam repellat esse harum aliquid repudiandae, commodi debitis ducimus sunt deserunt. Et.</p>
        </div>
        </ion-col>
       </ion-row>

            <div style='text-align:left'>
            <u><b>Ubicacion NO Editable</b></u>
          </div>

          <ion-row>
            <ion-col>
              <img id="ubicacion" src="https://www.seekpng.com/png/full/347-3471100_icono-ubicacion-vector-png-icono-de-ubicacion-png.png"><img>

            </ion-col>

            <ion-col size="10">
              <p>El parqueadero se encuentra en la ciudad de mosquera
                Cll 17, Mosquera-Cundinamarca
              </p>
            </ion-col>
          </ion-row>

        
        
     
      
   
      
      

   

    <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>

  