<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu2" ></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid>
    <ion-row>
      <ion-col id="img" sizeLg="2" offsetLg="5" sizeSm="3" offsetSm="5"  sizeXs="3" offsetXs="5">
        <center>
      <img id="icono-carro" src="../../../assets/img/384e0b3361d99d9c370b4037115324b9-icono-de-coche-plano-vintage.png" alt="icono-carro"></center>
        </ion-col>
        <ion-col sizeLg="4" offsetLg="4" sizeSm="12"  sizeXs="12">
          <h1 id="txt">Parqueadero Parking Brokers</h1>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="cols"  sizeLg="2" offsetLg="5" sizeSm="12"  sizeXs="12">
        <img id="image" src="../../../../../assets/img/location_map_pin_mark_icon_148685.png" alt="loc">
        <p>Calle 100a # 45 - 20</p>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-label position="floating">Tiempo estimado de parqueo</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Hora estimada de llegada</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de Vehiculo</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Placa del vehiculo</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mara del vehiculo</ion-label>
            <ion-input type="password" ></ion-input>
          </ion-item>
          <ion-button routerLink="/map2" expand="block" color="primary" mode="ios" class="ion-margin-top">
            Confirmar
          </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
