<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu2" ></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="10" offsetLg="1" sizeSm="12" sizeXs="12" >
          <ion-card routerLink="/parqueade" >
          <img src="../../../assets/img/Captura de pantalla 2022-03-07 004526.jpg" alt="fondo">
        </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="col1" sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" > 
          <ion-button id="boton1" routerLink="/home2" expand="block" color="primary" mode="ios" class="ion-margin-top">
            Selecionar Destino
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
