<ion-menu side="start" menuId="menu2" contentId="user">
  <ion-content>
    <div class="menu-header-bg">menu</div>
    <div class="header-content">
      <img src="../../../assets/img/585e4beacb11b227491c3399.png" alt="icono">
      <ion-label>
        <h2>Andres</h2>
        <p>usuario</p>
      </ion-label>
    </div>
    <ion-list class="menu-items" lines="none">
      <ion-item routerLink="/user">
        <ion-icon name="home-outline" class="ion-padding-horizontal"></ion-icon> Bandeja de entrada
      </ion-item>
      <ion-item routerLink="/reservas">
        <ion-icon name="pencil-outline"class="ion-padding-horizontal"></ion-icon> Inscribir parqueadero
      </ion-item>
      <ion-item routerLink="/reservas">
        <ion-icon name="calendar-outline" class="ion-padding-horizontal"></ion-icon> Reservas
      </ion-item>
      <ion-item routerLink="/B_empleado">
        <ion-icon name="add-outline" class="ion-padding-horizontal"></ion-icon> Crear rserva
      </ion-item>
      <ion-item routerLink="#" (click)="logout()" >
        <ion-icon name="log-out-outline" class="ion-padding-horizontal"></ion-icon>  Cerrar Sesion
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="user"></ion-router-outlet>