<ion-list>
  <ion-item (click)="onClick('datos usuario')" >
    <ion-label>info Parqueadero</ion-label>
  </ion-item>
  <ion-item (click)="onClick('imagenes')">
    <ion-label>Imagenes del parqueadero</ion-label>
  </ion-item>
  <ion-item (click)="onClick('constitucion')" >
    <ion-label>Constitucion de poliza</ion-label>
  </ion-item>
  <ion-item (click)="onClick('camara')" >
    <ion-label>Camara de comercio</ion-label>
  </ion-item>
  <ion-item (click)="onClick('licencia')" >
    <ion-label>Licencia de funcionamiento</ion-label>
  </ion-item>
</ion-list>
