<!-- !Pagina web y aplicacion movil:Tuparqueadero
!Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
!Ficha 2252471 ADSI
!Redes sociales: Tuparqueadero -->
<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Informacion del Automovil </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
    <h1 class="ion-text-center" id="titulo2">Informacion del Automovil</h1>
  </ion-col>

<!-- Form para completar lainformacion del Automovil  -->
  <ion-grid>
    <ion-row>
        <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
          <!-- Item Hora -->
          <ion-item>
            <ion-label position="floating" color="primary">Hora de Ingreso</ion-label>
            <ion-input type="time" placeholder="" ></ion-input>
          </ion-item>
          <!-- Item Placa -->
          <ion-item>
            <ion-label position="floating" color="primary">Placa</ion-label>
            <ion-input type="text" placeholder="" ></ion-input>
          </ion-item>
          <ion-item>
            <!-- Item modelo -->
            <ion-label position="floating" color="primary">Modelo</ion-label>
            <ion-input type="text" placeholder="" ></ion-input>
          </ion-item>
          
            <!-- Item Marca -->
            <ion-item>
            <ion-label position="floating" color="primary">Marca</ion-label>
            <ion-input type="text" placeholder="" ></ion-input>
          </ion-item>

          <!-- Item nombre de usuario -->
          <ion-item>
            <ion-label position="floating" color="primary">Nombre usuario</ion-label>
            <ion-input type="text" placeholder="" ></ion-input>
          </ion-item>
          
            <!-- Item Telefono -->
            <ion-item>
            <ion-label position="floating" color="primary">Telefono</ion-label>
            <ion-input type="number" placeholder="" ></ion-input>
            </ion-item>

            <!-- Item Correo -->
            <ion-item>
              <ion-label position="floating" color="primary">Correo</ion-label>
              <ion-input type="number" placeholder="" ></ion-input>
              </ion-item>


            <!-- Subir Fotografia -->
            <h1 class="ion-text-center" id="titulo2" color="primary">Fotografia-estado del automovil </h1>
            

          
            <!-- Novedad del automovil -->
          <ion-button routerLink="/empleado/novedad"  expand="block" color="danger" mode="ios" class="ion-margin-top">
            Novedad
          </ion-button>

          <ion-button routerLink="/recibo"  expand="block" color="primary" mode="ios" class="ion-margin-top">
             Sin Novedad
          </ion-button>
          
          
          
        </ion-col>
    </ion-row> 

    <ion-footer color="primary">
      <ion-toolbar color="primary">
        © 2022 TuParqueadero - Todos los Derechos Reservados  
        <img src="../../../../../assets/icon/phone-solid.svg" width="20px">
      </ion-toolbar>
    </ion-footer>

  </ion-grid>


</ion-content>


