<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title>cambio rol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid>
    <ion-row>
      <ion-col id="txt" sizeLg="4" offsetLg="4" sizeSm="4" offsetSm="4" sizeXs="12" >
        <p>Solicitud</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" offsetLg="4"  sizeSm="4" sizeXs="12">
      <textarea name="Cambio_rol" id="rol" cols="47" rows="10"></textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" offsetLg="4"  sizeSm="4" sizeXs="12">
        <ion-button routerLink="/cambio" expand="block" color="primary" mode="ios" class="ion-margin-top">
            Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
