<div class="container">
  <!-- Cerrar modal -->
  <div (click)="dismiss()" class="mt-4 ms-2">
    <i class="fas fa-arrow-left"></i>
  </div>
  <!-- logo parqueadero -->
  <div class="text-center">
    <img class="img-logo-parking" src="../../../../../assets/img/user/logo-parqueadero.png" width=""
      alt="Logo parqueadero">
    <h1 class="name-parking">{{ dataBooking.data.nameParqueadero }}</h1>
  </div>

  <!-- Info parqueadero -->
  <div class="row justify-content-center div-informacion-parking">
    <div class="col-sm-12 col-lg-3 div-info text-center">
      <img class="m-1" src="../../../../../assets/img/user/icon-location.png"alt="icono ubicación">
      {{ dataBooking.data.direccion }}
    </div>
    <div class="col-sm-12 col-lg-3 div-info text-center">
      <img class="m-1" src="../../../../../assets/img/user/icon-telephone.png"alt="icono teléfono">
      {{ dataBooking.data.telefono }}
    </div>
  </div>

  <!-- Formulario de parqueo por el usuario -->
  <form [formGroup]="formEditReserva" (ngSubmit)="onSubmitUpdatedData()">
    <div class="div-info-parqueo row">
      <div class="mb-3 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Fecha de reserva</mat-label>
          <input formControlName="date" name="date" matInput [matDatepicker]="pickerDate">
          <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="mb-3 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Tiempo estimado de parqueo</mat-label>
          <input formControlName="time" name="time" matInput placeholder="Ej. 1 hora">
        </mat-form-field>
      </div>
      <div class="mb-3 col-lg-6 input-hour">
        <mat-form-field appearance="fill">
          <input formControlName="hour" name="hour" [ngxTimepicker]="toggleTimepicker" [disableClick]="false" matInput placeholder="Hora de llegada">
          <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
          <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
        </mat-form-field>
      </div>
      <div class="mb-3 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Tipo de vehículo</mat-label>
          <mat-select formControlName="vehicle" name="vehicle">
            <mat-option value="Carro">
              Carro
            </mat-option>
            <mat-option value="Moto">
              Moto
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-3 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Placa de vehículo</mat-label>
          <input formControlName="placa" name="placa" matInput placeholder="Ej. MSN013">
        </mat-form-field>
      </div>
      <div class="mb-3 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Marca de vehículo</mat-label>
          <input formControlName="marca" name="marca" matInput placeholder="Ej. Chevrolet">
        </mat-form-field>
      </div>
    </div>
  
    <!-- Botón confirmar -->
    <div class="text-center div-btn-confirmar">
      <button type="submit" class="btn btn-confirmar btn-lg text-white">Editar</button>
    </div>
  </form>
</div>