ion-menu{
    height:100%
}

#icono-carro{
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

#txt{
    margin-left: 4px;
}

#img{
    display: flex;
}
#img2{
    display: flex;
}
#img-1,#img-2{
    max-width: 600px;
    max-height: 400px;
    margin: 10px;
    min-width: 165px;
    min-height: 100px;
}

#h3{
    color: rgb(27, 145, 255);
}
#lines{
    color: rgb(27, 145, 255);
};

