// ! Posicion fija de los "Filtros"
.posititon{
  position: fixed;
}
// ! Posicion y tamaño de nuestra menu
.menup1{
  // * Posicion que tendra el  menu 
  position: fixed;
  // * Ancho que tendra el menu
  width: 230px;
  // * z-index indica el orden de lo que se mostrara primero o por encima de 
  z-index: 100;
  // * left oculta o saca de la vista el menu
  left: -230px;
}
// ! Muestra el menu clase que se agrega o remueve a través de una funcion en el Ts
.active1{
  // * Ajusta la posicion de nuestro menu para que sea visible
  left: 0px;
}
// ! Da estilos al header de nuestro menu
.menu-header1{
  // * Nos indica el alto de nuestro header
  height: 230px;
  // * Nos indica el ancho
  width: 100%;
  // * Nos indica sus colores de fondo
  background: #3880ff;
  background: linear-gradient(10deg, #3880ff 100%, #1c6dfa 100%);
  // * Nos indica la sombra que tendra
  box-shadow: 0px 1px 10px #003ca3;
  // * Nos indica el borde redondeado que tendra el header
  border-radius: 10px 10px 80px 10px;
  // * Nos indica el padding que tendra nuestro header
  padding: 10px;
  // * Nos indica el margin hacia abajo que tendra el header
  margin-bottom: 5px;
}
// ! Nos indica el tamaño y padding hacia abajo que tendran nuestras opciones en el menu
.texto-menu1{
  font-size: 17px;
  padding-top: 17px;
}

// ! Nos indica el margin que tendra el icono de nuestras opciones del menu
.menu1 ion-icon{
  margin: 4px;
}
// ! Nos indica el borde redondeado que tendra la imagen en el menu
.menu1 img{
border-radius: 50%;
}
// ! Nos indica el color que tendran las letras del header del menu
.menu-text1{
  color: white;
} 
// ! Nos indica que el puntero sera de tipo pointer al estar sobre los elementos de la base de datos 
.cursor{
  cursor:pointer
}


