<ion-header>
  <ion-toolbar>
    <ion-title>Parqueaderos</ion-title>

      <ion-back-button slot="start" defaultHref="/admin" ></ion-back-button>
      <ion-buttons slot="end">
        <ion-button (click)="menu()">
          <ion-icon slot="end" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="parqueaderos">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/admin" >Bandeja de entrada</ion-item>
        <ion-item routerLink="/admin/parqueaderos" >Parqueaderos</ion-item>
        <ion-item routerLink="/admin/configuracion-cuenta" >Configuración</ion-item>
        <ion-item routerLink="#" (click)="logout()">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="parqueaderos"></ion-router-outlet>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <ion-toolbar>
          <ion-searchbar placeholder="Buscar Parqueaderos"></ion-searchbar>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero">
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="12">
          <ion-item routerLink="/admin/parqueaderos/informacion-del-parqueadero" >
            <img src="../../../assets/users.png" width="40px" alt="Usuario" class="ion-margin-horizontal">
            <ion-text class="letra">
              <h3>Titulo</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sapiente harum asperiores tempore voluptate fugiat, hic a dolore vitae in dolores corrupti aut ducimus tenetur qui eum doloremque et nulla.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
