<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Validacion de la cuenta del parqueadero</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrir()"  id="open4">
        <ion-icon slot="end" name="menu-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="menu4 menup4 animate__animated" *ngIf="dataUser" id="animacion4"> 
      <ion-col size="12">
        <div class="menu-header4">
          <div>
            <img [src]="dataUser.icono" width="120px" alt="Prueba">
          </div>
          <h4 class="menu-text4" >{{ dataUser.nombre }}</h4>
          <p class="menu-text4"><small>{{ dataUser.perfil }}</small></p>
        </div>
        <div class="content-menu4">
        <ion-item routerLink="/admin" >
          <ion-icon slot="start" name="mail-unread-outline"></ion-icon><p class="texto-menu4" > Bandeja de entrada</p>
        </ion-item>
        <ion-item routerLink="/admin/parqueaderos" >
          <ion-icon slot="start" name="people-outline"></ion-icon><p class="texto-menu4" > Gestion de usuarios</p>
        </ion-item>
        <ion-item routerLink="/admin/configuracion-cuenta" >
          <ion-icon slot="start" name="settings-outline"></ion-icon><p class="texto-menu4" > Configuración </p>
        </ion-item>
        <ion-item routerLink="#" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon><p class="texto-menu4" > Cerrar Sesión</p>
        </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="data" >
      <ion-col sizeLg="8" offsetLg="2" sizeMd="6" offsetMd="3" sizeSm="10" offsetSm="1">
        <ion-card>
        <ion-card-header>
          <ion-item>
            <!-- <img src="../../../../assets/users.png" alt="Usuario" class="imgp"> -->
            <img [src]="data.img" alt="Usuario" class="imgp">

          </ion-item>
          </ion-card-header>
          <ion-card-content>
              <p class="titulo"><strong> Descripcion: </strong></p>
              <p class="textoB">{{ data.descripcion }}</p>  
              <br>
              <p  class="titulo"><strong>Nombre del parquedero</strong></p>
              <p class="textoB">{{ data.nameParqueadero }}</p>
              <br>
              <p  class="titulo"><strong>Ubicacion: </strong></p>
              <p class="textoB">{{ data.ubicacion }}</p>
              <br>
              <p  class="titulo"><strong>Horario del parquedero: </strong></p>
              <p class="textoB">{{ data.horario }}</p>
              <br>
              <p class="titulo"><strong>Tarifa del parqueadero: </strong></p>
              <p class="textoB">{{ data.tarifa }}</p>
              <br>
              <p  class="titulo"><strong>Pagina web (Opcional): </strong></p>
              <p class="textoB"><a [href]="data.pagina" target="blank">Pagina web</a></p>
              <br>
              <p  class="titulo"><strong>Imagenes del parqueadero: </strong></p>
              <ion-row>
                <ion-col sizeLg="5" offsetLg="1" sizeMd="5" offsetMd="1" sizeSm="12">
                  <img [src]="data.img1" alt="Parqueadero 1" class="imgp1">
                </ion-col>
                <ion-col sizeLg="5" offsetLg="1" sizeMd="5" offsetMd="1" sizeSm="6">
                  <img [src]="data.img2" alt="Parqueadero 2" class="imgp1">
                </ion-col>
              </ion-row>
              <br>
              <p><strong  class="titulo">Constitucion de poliza de responsabilidad civil extracontractual: </strong></p>
              <ion-row>
                <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                  <iframe [src]="pdf1Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                </ion-col>
              </ion-row>
              <br>
              <p><strong  class="titulo">Camara de comercio: </strong></p>
              <ion-row>
                <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                  <iframe [src]="pdf2Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                </ion-col>
              </ion-row>
              <br>
              <p><strong  class="titulo">Licencia de funcionamiento: </strong></p>
              <ion-row>
                <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                  <iframe [src]="pdf3Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                </ion-col>
              </ion-row>
              <br>
              <p><strong  class="titulo">Documento detallado de la seguridad del parqueadero: </strong></p>
              <ion-row>
                <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12" sizeXs="12" >
                  <iframe [src]="pdf4Valor"  style="width: 100%; height: 500px;"  frameborder="0"></iframe>
                </ion-col>
              </ion-row>
              <div>
                <ion-button expand="block" color="primary" size="large" [routerLink]="['cambio-de-rol/' + data.Uid]">
                  Cambiar rol
                </ion-button>
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
