*{
    font-size: 20px;
}

.imgp{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 170px;
    height: 150px;
}

.imgp1{
    margin-left: auto !important;
    margin-right: auto !important;
    height: 100%;
    width: 100%;
    // image-rendering: auto;
    // image-rendering: crisp-edges;
    // image-rendering: pixelated;

       
    // image-rendering: inherit;
    // image-rendering: initial;
    image-rendering: unset;
}

.imgp2{
    margin: auto !important;
}


.menup4{
    position: fixed;
    width: 230px;
    z-index: 100;
    left: -230px;
    // transition: all 500ms linear;
}

.active4{
    left: 0px;
}

.menu-header4{
    height: 230px;
    width: 100%;
    background: #3880ff;
    background: linear-gradient(10deg, #3880ff 100%, #1c6dfa 100%);
    box-shadow: 0px 1px 10px #003ca3;
    border-radius: 10px 10px 80px 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.texto-menu4{
    font-size: 17px;
    padding-top: 17px;
}


.menu4 ion-icon{
    margin: 4px;
}

.menu4 img{
 border-radius: 50%;
}

.menu-text4{
    color: white;
} 

.cursor4{
    cursor:pointer
}


.pdf{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
    position:  relative;
    left: 0;
}

.titulo{
    font-size: 20px;
}

.textoB{
    font-size: 17px;
}

ion-modal {
    width: 800px;
    height: 600px;
    border: 2px solid red;
}

::ng-deep ion-modal{
    --width: 85vw;
    --height: 90vh;
}

ion-toolbar{
    background-color: #1A97E8;
}


.ColorTitulo{
    color: #ffffff;
    font-weight: bold;
    margin-right: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.imagenMenu{
    width: 40px;
    height: 40px;
    margin: auto;
}

.contenido{
    height: 55px;
}

.botoncr{
    background-color: #1A97E8;
}