<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->

<ion-header  translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img id="img" src="../../../../assets/img/user/logo-parqueadero.png" alt="logo">
    </ion-buttons>
    <ion-buttons id="color1"  slot="end">
      <ion-button  (click)="abrir()"  id="open">
        <ion-icon  slot="end" name="menu-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="title">Tuparqueadero</ion-title>
  </ion-toolbar> 
</ion-header>





      
    <!-- Pagina principal del rol empleado -->
    <ion-content class="ion-padding-horizontal">
      <ion-grid>
         <!--* Menu del usuario  -->
  <ion-row class="menu menup animate__animated" *ngIf="dataUser"  id="animacion"> 
    <ion-col size="12">
      <div class="menu-header">

        <!--*Informacion del usuario actual -->
        <div>
          <img [src]="dataUser.icono"width="120px" alt="Prueba">
        </div>
        <h4 class="menu-text">{{dataUser.nombre}}</h4>
        <p class="menu-text"><small>{{dataUser.perfil}}</small></p>
      </div>
      <!--*Fin de la informacion del usuario actual -->

      <!--*Opciones por las cuales el usuario puede navegar -->
      <div class="content-menu">
        <!--*Navegacion a la pagina principal -->
      <ion-item routerLink="/empleado" >
        <ion-icon slot="start" name="home-outline"></ion-icon><p class="texto-menu">Inicio</p>
      </ion-item>
      <!--*Navegacion a la pagina de Gestion Cupos  -->
      <ion-item routerLink="/empleado/cupos" >
        <ion-icon slot="start" name="car-sport-outline"></ion-icon><p class="texto-menu">Cupos</p>
      </ion-item>
      <!--*Navegacion a la pagina de Reservas -->
      <ion-item routerLink="/empleado/reservas" >
        <ion-icon slot="start" name="calendar-outline"></ion-icon><p class="texto-menu">Reservas</p>
      </ion-item>
      <!-- *Navegacion a la pagina Reservas locales -->
      <ion-item routerLink="/empleado/R_local">
        <ion-icon slot="start" name="today-outline"></ion-icon><p class="texto-menu">Reservas locales</p>
      </ion-item>
       <!-- *Navegacion a la pagina Configuracion -->
       <ion-item routerLink="/empleado/perfil">
        <ion-icon slot="start" name="settings-outline"></ion-icon><p class="texto-menu">Configuracion</p>
      </ion-item>
      <!-- *Cierre de sesion del usuario -->
      <ion-item routerLink="#" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon><p class="texto-menu">Cerrar Sesión</p>
      </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <!--*Fin del menu del usuario -->
      <ion-row>
        <ion-col sizesm="12">
        <div class="ion-text-center">
          <h2 id="titulo">ParqueaderoSANTINI</h2>
          <img id="imagen" src="https://www.eltiempo.com/files/article_main/uploads/2021/01/22/600b1a714c8fe.jpeg"><img>
          <h2 id="subtitulo">¿Quienes somos?</h2>
          <p>Somo ParqueaderoSANTINI ofrecemos una experiencia espectacular,seguridad,confianza y satisfaccion  ya que puede
            Reservar Conocer el parqueadero a fondo nuestro equipo de Trabajo por la aplicacion Tuparqueadero esto lo hacemos para que nuestro cliente este seguro al momento de dejarlo en el lugar
            estamos ubicados en Mosquera-Cundinamarca 
          </p>
          <img id="imagen2" src="https://www.ceupe.com/images/easyblog_articles/1303/equipo-de-trabajo.jpg"><img>
        </div>
      </ion-col>
       </ion-row>

          <!-- Apartado donde se mostrara la ubicacion del parqueadero -->
            <ion-col size="4">
            <div style='text-align:left'>
            <u><b>Ubicacion NO Editable</b></u>
          </div>
          </ion-col>
          <!-- Ubicacion exacta donde queda el parqueadero -->
          <ion-row>
            <ion-col size="4">
            <img id="ubicacion" src="https://www.seekpng.com/png/full/347-3471100_icono-ubicacion-vector-png-icono-de-ubicacion-png.png"><img>
            </ion-col>
            <ion-col size="8">
            <p>El parqueadero se encuentra en la ciudad de mosquera
                Cll 17, Mosquera-Cundinamarca
            </p>
            </ion-col>
          </ion-row>
        </ion-grid>

    <ion-router-outlet id="second"></ion-router-outlet>
    </ion-content>

  