<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->

<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Empleado del parqueadero</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-buttons slot="end">
  <ion-button (click)="abrir()"  id="open">
    <ion-icon slot="end" name="menu-outline" ></ion-icon>
  </ion-button>
</ion-buttons>
      
    <!-- Pagina principal del rol empleado -->
    <ion-content class="ion-padding-horizontal">
      <ion-grid>
         <!--* Menu del usuario  -->
  <ion-row class="menu menup animate__animated" *ngIf="dataUser"  id="animacion"> 
    <ion-col size="12">
      <div class="menu-header">

        <!--*Informacion del usuario actual -->
        <div>
          <img [src]="dataUser.icono"width="120px" alt="Prueba">
        </div>
        <h4 class="menu-text">{{dataUser.nombre}}</h4>
        <p class="menu-text"><small>{{dataUser.perfil}}</small></p>
      </div>
      <!--*Fin de la informacion del usuario actual -->

      <!--*Opciones por las cuales el usuario puede navegar -->
      <div class="content-menu">
        <!--*Navegacion a la pagina principal -->
      <ion-item routerLink="/empleado" >
        <ion-icon slot="start" name="home-outline"></ion-icon><p class="texto-menu">Inicio</p>
      </ion-item>
      <!--*Navegacion a la pagina de Gestion Cupos  -->
      <ion-item routerLink="/cupos" >
        <ion-icon slot="start" name="car-sport-outline"></ion-icon><p class="texto-menu">Cupos</p>
      </ion-item>
      <!--*Navegacion a la pagina de Reservas -->
      <ion-item routerLink="/reservas" >
        <ion-icon slot="start" name="calendar-outline"></ion-icon><p class="texto-menu">Reservas</p>
      </ion-item>
      <!-- *Navegacion a la pagina Reservas locales -->
      <ion-item routerLink="/R_local">
        <ion-icon slot="start" name="today-outline"></ion-icon><p class="texto-menu">Reservas locales</p>
      </ion-item>
       <!-- *Navegacion a la pagina Configuracion -->
       <ion-item routerLink="/perfil">
        <ion-icon slot="start" name="settings-outline"></ion-icon><p class="texto-menu">Configuracion</p>
      </ion-item>
      <!-- *Cierre de sesion del usuario -->
      <ion-item routerLink="#" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon><p class="texto-menu">Cerrar Sesión</p>
      </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <!--*Fin del menu del usuario -->
      <ion-row>
        <ion-col sizesm="12">
        <div class="ion-text-center">
          <h2 id="titulo">Tuparqueadero</h2>
          <img id="imagen" src="https://www.eltiempo.com/files/article_main/uploads/2021/01/22/600b1a714c8fe.jpeg"><img>
          <h2 id="subtitulo">¿Quienes somos?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum, consectetur iste nobis labore iusto veritatis mollitia dolores, temporibus hic ipsa asperiores, ipsum voluptates magnam. Similique fugiat mollitia commodi consectetur autem sed corporis, illum eaque non tenetur ad. Ab asperiores atque doloribus veritatis quasi illum dolor distinctio eum, facere provident nesciunt fugiat veniam ducimus odio quae nobis libero magnam necessitatibus amet velit neque. Hic nemo natus dicta corporis voluptatibus facilis odio nisi maxime iusto architecto. Atque similique eveniet odit possimus, obcaecati non provident dolorem optio sit excepturi maiores laboriosam repellat esse harum aliquid repudiandae, commodi debitis ducimus sunt deserunt. Et.</p>
        </div>
      </ion-col>
       </ion-row>

          <!-- Apartado donde se mostrara la ubicacion del parqueadero -->
            <ion-col size="4">
            <div style='text-align:left'>
            <u><b>Ubicacion NO Editable</b></u>
          </div>
          </ion-col>
          <!-- Ubicacion exacta donde queda el parqueadero -->
          <ion-row>
            <ion-col size="4">
            <img id="ubicacion" src="https://www.seekpng.com/png/full/347-3471100_icono-ubicacion-vector-png-icono-de-ubicacion-png.png"><img>
            </ion-col>
            <ion-col size="8">
            <p>El parqueadero se encuentra en la ciudad de mosquera
                Cll 17, Mosquera-Cundinamarca
            </p>
            </ion-col>
          </ion-row>
        </ion-grid>

    <ion-router-outlet id="second"></ion-router-outlet>
    </ion-content>

  