
// Diseño de la imagen de inicio
#imagen{
    height: 600px;
    width: 2000px;
}
// Diseño del icono de ubicacion
#ubicacion{
    height: 80px;
    width: 80px;
}
// Diseño del titulo
#titulo{
    font-size: 40px;
}
// Diseño del subtitulo
#subtitulo{
    font-size: 40px;
}
