<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive, Mabel Diaz 
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->

<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <img src="../../../../../assets/img/user/logo-parqueadero.png" width="70px">
      <ion-button (click)="abrir()" id="open">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!-- Pagina principal del rol empleado -->
<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <!--* Menu del usuario  -->
    <ion-row class="menu menup animate__animated" *ngIf="dataUser" id="animacion">
      <ion-col size="12">
        <div class="menu-header">

          <!--*Informacion del usuario actual -->
          <div>
            <img [src]="dataUser.icono" width="120px" alt="Prueba">
          </div>
          <h4 class="menu-text">{{dataUser.nombre}}</h4>
          <p class="menu-text"><small>{{dataUser.perfil}}</small></p>
        </div>
        <!--*Fin de la informacion del usuario actual -->

        <!--*Opciones por las cuales el usuario puede navegar -->
        <div class="content-menu">
          <!--*Navegacion a la pagina principal -->
          <ion-item routerLink="/empleado">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <p class="texto-menu">Inicio</p>
          </ion-item>
          <!--*Navegacion a la pagina de Gestion Cupos  -->
          <ion-item routerLink="/empleado/cupos">
            <ion-icon slot="start" name="car-sport-outline"></ion-icon>
            <p class="texto-menu">Cupos</p>
          </ion-item>
          <!--*Navegacion a la pagina de Reservas -->
          <ion-item routerLink="/empleado/reservas">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <p class="texto-menu">Reservas</p>
          </ion-item>
          <!-- *Navegacion a la pagina Reservas locales -->
          <ion-item routerLink="/empleado/R_local">
            <ion-icon slot="start" name="today-outline"></ion-icon>
            <p class="texto-menu">Reservas locales</p>
          </ion-item>
          <!-- *Navegacion a la pagina Configuracion -->
          <ion-item routerLink="/empleado/perfil">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <p class="texto-menu">Configuracion</p>
          </ion-item>
          <!-- *Cierre de sesion del usuario -->
          <ion-item routerLink="#" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <p class="texto-menu">Cerrar Sesión</p>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!--*Fin del menu del usuario -->

    <!-- Diseño home -->
    <ion-row>
      <ion-col sizesm="12">
        <div class="ion-text-center"><br><br>

          <h2 id="titulo">Bienvenido Empleado Del Parqueadero</h2>

          <ion-row>
            <ion-grid>
              <ion-card sizesm="6">
                <ion-card-header>
                  <ion-card-title class="texto">¿Quienes somos?</ion-card-title><br>
                  <img src="../../../../../assets/img/user/empleado3.jpg" width="100%">
                </ion-card-header>

                <ion-card-content>
                  TuParqueadero es software que busca mejorar y facilitar la busqueda de un parqueadero, permitir a
                  otras personas usar un parqueadero propio.
                </ion-card-content>
              </ion-card>

              <ion-card sizesm="6">
                <ion-card-header>
                  <ion-card-title class="texto">TuParqueadero a la Mano</ion-card-title><br>
                  <img src="../../../../../assets/img/user/empleado2.jfif" width="100%">
                </ion-card-header>

                <ion-card-content>
                  TuParqueadero es una de las mejores alternaticvas para tu vida ya que facilita el uso y busqueda de un lugar. 
                </ion-card-content>
              </ion-card>
            </ion-grid>
            <ion-card sizesm="2">
              <ion-card-header>
                <ion-card-title class="texto">Tu Trabajo Es Importante!</ion-card-title><br>
                <img src="../../../../../assets/img/user/empleado1.jpg" width="80%">
              </ion-card-header>

              <ion-card-content>
                <p>
                  Queremos que en TuParqueadero tengas una mejor calidad de vida brindando un servicio que sera facil, adaptable y que puedas usar desde la comodidad de tu casa.
                </p>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>


    <ion-footer>
      <ion-toolbar style="background-color: blue;">
        © 2022 TuParqueadero - Todos los Derechos Reservados  
        <img src="../../../../../assets/icon/phone-solid.svg" width="20px">
      </ion-toolbar>
    </ion-footer>

  </ion-grid>

  <ion-router-outlet id="second"></ion-router-outlet>
</ion-content>