<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu2" ></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid>
    <ion-row>
      <ion-col id="img" sizeLg="2" offsetLg="5" sizeSm="3" offsetSm="5"  sizeXs="3" offsetXs="5">
        <center>
      <img id="icono-carro" src="../../../assets/img/384e0b3361d99d9c370b4037115324b9-icono-de-coche-plano-vintage.png" alt="icono-carro"></center>
        </ion-col>
        <ion-col sizeLg="4" offsetLg="4" sizeSm="12"  sizeXs="12">
          <h1 id="txt">Parqueadero Parking Brokers</h1>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="img2" sizeLg="8" offsetLg="2" sizeSm="12" sizeXs="12">
        <ion-slides>
          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/img/2.jpeg" />
            </div>
          </ion-slide>
          <ion-slide>
            <img src="../../../../assets/img/600b1a714c8fe.jpeg" />
          </ion-slide>
          <ion-slide>
            <img src="../../../../assets/img/15132529parqueadero.jpg" />
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12">
        <ion-item-divider id="lines">
          <h3 id="h3">Informacion</h3>
        </ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="tex" sizeLg="8" offsetLg="2" sizeSm="12" sizeXs="12">
        <ion-row>
        <ion-col id="cols"  sizeLg="4" sizeSm="12" sizeXs="12">
          <img id="image" src="../../../../../assets/img/location_map_pin_mark_icon_148685.png" alt="loc">
          <p>Calle 100a # 45 - 20</p>
        </ion-col>
        <ion-col id="cols"  sizeLg="4"  sizeSm="12" sizeXs="12">
          <img id="image" src="../../../../../assets/img/dbc57b7afeed83e858137b975af91b3f.png" alt="loc">
          <p>Abierto 24 horas</p>
        </ion-col>
        <ion-col id="cols"  sizeLg="4" sizeSm="12" sizeXs="12">
          <img id="image" src="../../../../../assets/img/Maps-Globe-icon.png" alt="loc">
          <p>Parkingbrokers.com</p>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" >
        <img src="../../../../../assets/img/Captura de pantalla 2022-03-10 220226.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" >
        <ion-button routerLink="/reserv-par" expand="block" color="primary" mode="ios" class="ion-margin-top">
          Editar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
