#icono-carro{
    width: 40px;
    height: 40px;
    
}

#image{
    width: 30px;
    height: 30px;
}

#txt{
    text-align: center;
}

#h3{
    color: rgb(27, 145, 255);
}
#lines{
    color: rgb(27, 145, 255);
};
