<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu2" ></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="10" offsetLg="1" sizeSm="12" sizeXs="12" >
          <img src="../../../assets/img/Captura de pantalla 2022-03-07 004526.jpg" alt="fondo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="col1" sizeLg="3" offsetLg="5" sizeSm="12" sizeXs="12" > 
          <ion-card>
            <ion-searchbar></ion-searchbar>

            <a routerLink="/buscaar">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="../../../../assets/img/location_map_pin_mark_icon_148685.png" />
                </ion-avatar>
                <ion-label>
                  <h2>Bogota, colombia</h2>
                </ion-label>
              </ion-item></a>
              <a routerLink="/buscaar">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="../../../../assets/img/location_map_pin_mark_icon_148685.png" />
                  </ion-avatar>
                  <ion-label>
                    <h2>Bogota calle 13</h2>
                  </ion-label>
                </ion-item></a>
                <a routerLink="/buscaar">
                  <ion-item>
                    <ion-avatar slot="start">
                      <img src="../../../../assets/img/location_map_pin_mark_icon_148685.png" />
                    </ion-avatar>
                    <ion-label>
                      <h2>Norte de Bogota</h2>
                    </ion-label>
                  </ion-item></a>
                  <a routerLink="/buscaar">
                    <ion-item>
                      <ion-avatar slot="start">
                        <img src="../../../../assets/img/location_map_pin_mark_icon_148685.png" />
                      </ion-avatar>
                      <ion-label>
                        <h2>Suroriente de Bogota</h2>
                      </ion-label>
                    </ion-item></a>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

