
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="redireccion1()" routerLink="#" ><ion-icon name="mail-outline" class="ion-padding-horizontal"></ion-icon> Bandeja de entrada</ion-item>
      <ion-item (click)="redireccion2()"><ion-icon name="reader-outline" class="ion-padding-horizontal"></ion-icon> Parqueaderos</ion-item>
      <ion-item ><ion-icon name="settings-outline" class="ion-padding-horizontal"></ion-icon> Configuracion</ion-item>
      <ion-item (click)="logout()" ><ion-icon name="log-out-outline" class="ion-padding-horizontal" detail="true"></ion-icon> Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>