.img{
  margin: auto;
  border-radius: 50%;
}

.menup3{
  position: fixed;
  width: 230px;
  z-index: 100;
  left: -230px;
}

.active3{
  left: 0px;
}

.menu-header3{
  height: 230px;
  width: 100%;
  background: #1A97E8;
  background: linear-gradient(10deg, #1A97E8 100%, #1c6dfa 100%);
  box-shadow: 0px 1px 10px #003ca3;
  border-radius: 10px 10px 80px 10px;
  padding: 10px;
  margin-bottom: 5px;
}

.texto-menu3{
  font-size: 17px;
  padding-top: 17px;
}


.menu3 ion-icon{
  margin: 4px;
}

.menu3 img{
border-radius: 50%;
}

.menu-text3{
  color: white;
} 

.cursor3{
  cursor:pointer
}

ion-toolbar{
  background-color: #1A97E8;
}


.ColorTitulo{
  color: #ffffff;
  font-weight: bold;
  margin-right: 15px;
  font-size: 20px;
  margin-left: 10px;
}

.imagenMenu{
  width: 40px;
  height: 40px;
  margin: auto;
}

.contenido{
  height: 55px;
}

ion-grid{
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100%;
  position: relative;
}
ion-footer{
  text-align: center;
  background-color: #1A97E8;
  color: white;
  width: 100%;
  height: 25px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}

ion-card{
  margin-bottom: 27px;
}

ion-card-content p {
  font-size: 18px;
}
