<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Info Auto </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
    <h1 class="ion-text-center" id="titulo2">Agregar informacion del automovil</h1>
  </ion-col>
  <ion-grid>
    <ion-row>
        <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-label position="floating">Placa</ion-label>
            <ion-input type="text" placeholder="Placa"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Modelo</ion-label>
            <ion-input type="text" placeholder="Modelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Marca</ion-label>
            <ion-input type="text" placeholder="Marca"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="text" placeholder="Telefono"></ion-input>
            </ion-item>
            <h1 class="ion-text-center" id="titulo2">Fotografia-estado del automovil </h1>
            <img src="../../../../assets/carro.png" alt="">
          <ion-button  expand="block" color="primary" mode="ios" class="ion-margin-top">
            Confirmar
          </ion-button>
          
          
          
        </ion-col>
    </ion-row> 
  </ion-grid>


</ion-content>
