<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row">
        <nav id="menu" class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img src=".././public/dist/img/home/medicina-del-trabajo.png" width="50" height="50"
                    class="img-fluid" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <ul class="navbar">
                        <li class="nav-item">
                            <a class="head nav-link" href="{{ url('/') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="head nav-link"
                                href="{{ url('/seleccionar') }}">ingresar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="img-fluid banner"></section>

        <div class="col-12 mt-4 text-center">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 g-lg-4">
                <div class="clas1 col">
                    <a class="text" href="#scrollspyHeading1">
                        <div id="covid" class="p-4 border bg-light">
                            <img src=".././public/dist/img/home/covid-19-variants.jpg" class="img-fluid"
                                alt="covid">
                            <h5>Covid-19</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias eligendi
                                officia expedita corrupti laboriosam nam quam quas voluptatum architecto totam
                                asperiores magnam, corporis qui cum sed amet illum quis.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="clas1 col">
                    <a class="text" href="#scrollspyHeading2">
                        <div id="imagen" class="p-4 border bg-light">
                            <img src=".././public/dist/img/home/diseño-web-para-médicos.jpg" class="img-fluid"
                                alt="doc">
                            <h5>Doctores</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias eligendi
                                officia expedita corrupti laboriosam nam quam quas voluptatum architecto totam
                                asperiores magnam, corporis qui cum sed amet illum quis.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="clas1 col">
                    <a class="text" href="#scrollspyHeading3">
                        <div id="imagen" class="p-4 border bg-light">
                            <img src=".././public/dist/img/home/images.jpg" class="img-fluid" alt="imagen">
                            <h5>Tratamientos</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias eligendi
                                officia expedita corrupti laboriosam nam quam quas voluptatum architecto totam
                                asperiores magnam, corporis qui cum sed amet illum quis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src=".././public/dist/img/home/V5KW6FQPX5H3BNTNIGRGV4UVAE.jpg" class="d-block w-100"
                    alt="carru">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem ipsum dolor sit</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi debitis voluptatum.
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src=".././public/dist/img/home/OCIFP90web-e1490201566150.jpg" class="d-block w-100"
                    alt="carru1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem, ipsum dolor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae dolorum accusamus.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src=".././public/dist/img/home/hands-of-unrecognizable-female-doctor-writing-on-form-and-typing-on-laptop-keyboard.jpg"
                    class="d-block w-100" alt="carru2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem ipsum dolor sit</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos natus totam vel!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span id="scrollspyHeading1" class="visually-hidden">Next</span>
        </button>
    </div><br>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
        tabindex="0">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-1 g-0 g-lg-4">
            <div class="col">
                <div class="p-4 border bg-light">
                    <h4>Covid-19</h4>
                    <p id="scrollspyHeading2"><img src=".././public/dist/img/home/descarga.jpg" align="right"
                            class="img-fluid" alt="covid2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsum unde nulla porro hic
                        laudantium odit fuga cum consectetur, et autem? Provident laudantium exercitationem iste
                        ipsam, beatae voluptatum quas temporibus harum veniam qui reprehenderit. Modi sint
                        aliquid perferendis sunt ut. Eaque molestias quis consequatur aperiam. Sapiente deserunt
                        maiores magnam, distinctio nulla qui ipsum natus cupiditate cum. Consequuntur vel
                        accusamus quos saepe porro nisi, blanditiis numquam voluptates minus possimus nobis
                        soluta, neque quod impedit! Optio fuga labore illum accusantium obcaecati odit
                        consectetur esse libero eius ad ullam, unde aliquid veritatis! Esse soluta quia
                        consequuntur. Ipsa incidunt, tempora nihil minus soluta maxime, consequuntur dolore
                        neque ducimus totam placeat tenetur aperiam, officia nam ullam vero in repellat expedita
                        consectetur cum nostrum quo adipisci deleniti non. Commodi maiores dolore saepe optio
                        maxime quia quibusdam, explicabo molestias ratione a, debitis error cumque nostrum
                        soluta! Sapiente eveniet ducimus nemo magni excepturi mollitia culpa cupiditate atque
                        rerum enim.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="p-4 border bg-light">
                    <h4>Doctores</h4>
                    <p id="scrollspyHeading3"><img src=".././public/dist/img/home/ramas-medicina-social.jpg"
                            width="300" height="300" align="right" class="img-fluid" alt="doc2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsam sit fugit delectus
                        corporis sed harum itaque repellat atque? Sunt, corporis ex fugiat aut dolorum voluptatibus.
                        Quae esse ex harum debitis nostrum, minima ullam necessitatibus voluptatem, cum laudantium
                        natus possimus ipsa saepe obcaecati voluptatum aliquid, sed odio tempora autem in quam? Nemo
                        repudiandae distinctio doloribus recusandae fugit dolores sapiente repellat minima nostrum
                        ab dignissimos rerum necessitatibus, laborum ullam atque eaque eligendi. Possimus porro
                        ullam nam harum unde repellat accusantium aspernatur temporibus tempora iste provident,
                        eveniet saepe voluptas ut officiis eligendi obcaecati illum expedita aperiam cum beatae
                        cupiditate atque doloribus. Libero officiis maxime praesentium minus ipsam aspernatur
                        dolorum at, commodi sapiente eum a minima rem blanditiis adipisci et ab sed dolor laboriosam
                        accusantium quos voluptas id optio, suscipit quod. Accusamus eos quae qui! Beatae quos esse
                        hic ipsum fuga repellat, minima aspernatur quas consequuntur illo fugiat id libero, aperiam
                        magni architecto?</p>
                </div>
            </div>
            <div class="col">
                <div class="p-4 border bg-light">
                    <h4>Tratamientos</h4>
                    <p><img src=".././public/dist/img/home/medicina.jpg" width="300" height="300" align="right"
                            class="img-fluid" alt="imagen2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsam sit fugit delectus
                        corporis sed harum itaque repellat atque? Sunt, corporis ex fugiat aut dolorum voluptatibus.
                        Quae esse ex harum debitis nostrum, minima ullam necessitatibus voluptatem, cum laudantium
                        natus possimus ipsa saepe obcaecati voluptatum aliquid, sed odio tempora autem in quam? Nemo
                        repudiandae distinctio doloribus recusandae fugit dolores sapiente repellat minima nostrum
                        ab dignissimos rerum necessitatibus, laborum ullam atque eaque eligendi. Possimus porro
                        ullam nam harum unde repellat accusantium aspernatur temporibus tempora iste provident,
                        eveniet saepe voluptas ut officiis eligendi obcaecati illum expedita aperiam cum beatae
                        cupiditate atque doloribus. Libero officiis maxime praesentium minus ipsam aspernatur
                        dolorum at, commodi sapiente eum a minima rem blanditiis adipisci et ab sed dolor laboriosam
                        accusantium quos voluptas id optio, suscipit quod. Accusamus eos quae qui! Beatae quos esse
                        hic ipsum fuga repellat, minima aspernatur quas consequuntur illo fugiat id libero, aperiam
                        magni architecto?</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
</div>
<footer id="foot" class="container-fluid">
    <div class="footer-container">
        <div class="footer-main">
            <div class="row">
                <div class="col-12-sm col-lg-4 footer-columna">
                    <h3>Suscribete</h3>
                    <input type="email" placeholder="Escriba su Correo">
                    <input type="submit" value="Suscribirse">
                </div>

                <div class="col-12-sm col-lg-4 footer-columna">
                    <h3>Direccion</h3>
                    <span class="fa fa-map-marker">
                        <p>Km. 7, Mosquera, Cundinamarca</p>
                    </span>
                    <span class="fa fa-phone">
                        <p>(+57) 3105483781</p>
                    </span>
                    <span class="fa fa-envelope">
                        <p>ClinicaMos@gmail.com</p>
                    </span>
                </div>

                <div class="col-12-sm col-lg-4 footer-columna">
                    <h3>Sobre Nosotros</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nostrum sed explicabo,
                        distinctio itaque voluptatibus quibusdam optio, consequatur numquam dolore aperiam
                        officiis necessitatibus ea illo.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer id="foot2" class="container-fluid">
    <div class="footer-copy-redes">
        <div class="main-copy-redes">
            <div class="footer-copy text-white">
                &copy;2021, todos los derechos reservados - | clinica |.
            </div>
            <div class="footer-redes">
                <a href="https://www.facebook.com/"><img src=".././public/dist/img/home/logo-facebook.png"
                        width="25" height="25" align="left" class="img-fluid" alt="covid2"></a>
                <a href="https://twitter.com/"><img src=".././public/dist/img/home/twitter-logo-3.png" width="25"
                        height="25" align="left" class="img-fluid" alt="covid2"></a>
                <a href="https://www.youtube.com/"><img src=".././public/dist/img/home/youtube_logo_icon_168737.png"
                        width="30" height="30" align="left" class="img-fluid" alt="covid2"></a>
            </div>
        </div>
    </div>
</footer>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->
<script>
    window.addEventListener('scroll', function () {
        let header = document.querySelector('#menu');
        let windowPosition = window.scrollY > 440;
        header.classList.toggle('scrolling-active', windowPosition);
    })
</script>
</ion-content>

