<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title>reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <app-menu></app-menu> -->
  <ion-row>
    <ion-col id="cuest" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
      <ion-list>
        <a routerLink="/parqueadero/reserv">
        <ion-item >
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva1</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva2</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva3</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva4</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva5</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva6</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva7</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva8</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva9</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/parqueadero/reserv">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>Reserva10</h2>
          </ion-label>
        </ion-item></a>

      </ion-list>
      </ion-col>
      </ion-row>
</ion-content>