<!-- Pagina web y aplicacion movil:Tuparqueadero
Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
Ficha 2252471 ADSI
Redes sociales: Tuparqueadero-->
<ion-header>
  <ion-toolbar>
    <ion-title>Novedad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
    
    
    <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">  
    <h1 class="ion-text-center" id="titulo2">Novedad</h1>
    <ion-col sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
    </ion-col>
    <ion-col sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
    
      <ion-col id="cuest" sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12"></ion-col>
      <ion-item>
      <ion-label position="floating">Describa la novedad del Vehiculo</ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    </ion-col>
    <ion-row>
      <ion-col id="col1" sizeLg="2" offsetLg="5" sizeSm="12" sizeXs="12" > 
        
        <ion-button routerLink="/recibo"  id="boton1"  expand="block" color="primary" mode="ios" class="ion-margin-top">
          Confirmar
        </ion-button>
      
      </ion-col>
    </ion-row>
  </ion-col>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
