<!-- !Pagina web y aplicacion movil:Tuparqueadero
!Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
!Ficha 2252471 ADSI
!Redes sociales: Tuparqueadero -->
<ion-header>
  <ion-toolbar>
    <ion-title>contador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!-- Navbar -->
    <div class="row text-center">
        <div class="col-md-12 col-12 mt-5">
            <h5 class="text-center" id="titulo">Contador de Cupos</h5>
        </div>
    </div>


    <!-- Estara el partado del contador -->
    <div class="row text-center  mt-5">
        <div class="col-md-12 col-12">
            <!-- Boton aumentar numero al dar clik -->
            <ion-button  (click)=" numero = numero + 1; " class="btn btn-primary  bmd-btn-fab bmd-btn-fab-sm">
                <i class="zmdi zmdi-plus"></i>
            </ion-button>
            <!-- Mostrara el numero resultante -->
            <span> {{ numero }} </span>
                
            <!-- Boton disminuir numero al dar click -->
            <ion-button (click)=" numero = numero - 1; "  class="btn-danger bmd-btn-fab bmd-btn-fab-sm">
                <i class="zmdi zmdi-minus"></i>
            </ion-button>
        </div>

    </div>
</div>

</ion-content>
