<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title>borrar empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-menu></app-menu>
  <ion-row>
    <ion-col id="cuest" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
      <ion-list>
        <a routerLink="/BB_empleado">
        <ion-item >
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

        <a routerLink="/BB_empleado">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/img/585e4beacb11b227491c3399.png" />
          </ion-avatar>
          <ion-label>
            <h2>UserName</h2>
          </ion-label>
        </ion-item></a>

      </ion-list>
      </ion-col>
      </ion-row>
</ion-content>
