#titulo{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}


#numero50{
   position: absolute;
   top: 0px;
   bottom: 0px;
   margin-top: auto;
   margin-bottom: auto;
   right: 0px;
   font-size: 90pt;
}

#contenido{
    position:absolute;
   top: 0px;
   bottom: 0px;
   margin-top: 3%;
   margin-bottom: auto;
}