<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="notifications"></ion-icon>
    <ion-buttons slot="start"><ion-back-button defaultHref="/cupos"></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
<ion-row>
<ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">

<div class="ion-text-center">
<h1 id="titulo">Capacidad de Automoviles</h1>
</div>
</ion-col>
<ion-col size="4" class="ion-text-rigth">
<img id="numero50" src="https://numero.wiki//img/i-50.jpg">
</ion-col>

<ion-col size="8">
<p id="contenido">
  El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
</p>
</ion-col>  


</ion-row>
</ion-grid>
</ion-content>