<!-- !Pagina web y aplicacion movil:Tuparqueadero
!Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
!Ficha 2252471 ADSI
!Redes sociales: Tuparqueadero -->
<ion-header>

  <ion-toolbar color="primary">
    <ion-item color="primary">
    <img id="img" src="../../../../assets/img/user/logo-parqueadero.png" alt="logo">
    <ion-title>Tuparqueadero</ion-title>
  </ion-item>
    <ion-buttons slot="start">
      <ion-menu-button id="first"></ion-menu-button>
    </ion-buttons>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Menu principal -->
<ion-content>
  <ion-menu side="start" menuId="first" contentId="second">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- <ion-list> -->
      <ion-item routerLink="/empleado">
        <ion-icon name="home-outline" class="ion-padding-horizontal"></ion-icon> Parqueadero
      </ion-item>
      <ion-item routerLink="/empleado/cupos">
        <ion-icon name="car-sport" class="ion-padding-horizontal"></ion-icon> Cupos
      </ion-item>
      <ion-item routerLink="/empleado/R_local">
        <ion-icon name="people" class="ion-padding-horizontal"></ion-icon> Reservas locales
      </ion-item>
      <ion-item routerLink="/empleado/reservas">
        <ion-icon name="people" class="ion-padding-horizontal"></ion-icon> Reservas
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" class="ion-padding-horizontal" detail="true"></ion-icon> Cerrar sesión
      </ion-item>
      <!-- </ion-list> -->
    </ion-content>
  </ion-menu>

  <ion-content>
    <ion-menu side="start" menuId="first" contentId="second">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <!-- <ion-list> -->
        <ion-item routerLink="/empleado">
          <ion-icon name="home-outline" class="ion-padding-horizontal"></ion-icon> Parqueadero
        </ion-item>
        <ion-item routerLink="/empleado/cupos">
          <ion-icon name="car-sport" class="ion-padding-horizontal"></ion-icon> Cupos
        </ion-item>
        <ion-item routerLink="/empleado/R_local">
          <ion-icon name="people" class="ion-padding-horizontal"></ion-icon> Reservas locales
        </ion-item>
        <ion-item routerLink="/empleado/reservas">
          <ion-icon name="people" class="ion-padding-horizontal"></ion-icon> Reservas
        </ion-item>
        <!-- </ion-list> -->
      </ion-content>
    </ion-menu>


    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="4" sizeMd="8">

            <!-- Se mostrara la capacidad de automoviles -->
            <ion-card>
              <ion-card-title>
                <h1 id="titulo2">Capacidad de Automoviles</h1>
              </ion-card-title>
              <ion-card-content>
                <div class="ion-text-center">
                  <p id="numero20">
                    50
                  </p>
                  <p id="contenido2">
                    El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
                  </p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <ion-col>
            <ion-card>
              <ion-card-title>
                <h1 id="titulo2">Cupos disponibles en tiempo real</h1>
              </ion-card-title>
              <ion-card-content>
                <div class="ion-text-center">
                  <p id="numero20">
                    20
                  </p>
                  <p id="contenido2">
                    El parqueadero cuenta con una capacidad de 50 Automoviles,con su proteccion
                  </p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <ion-col>
            <ion-card>
              <ion-card-title>
                <h1 id="titulo2">Costo no editable</h1>
              </ion-card-title>
              <ion-card-content>
                <div class="ion-text-center">
                  <img id="imag1"
                    src="https://images.vexels.com/media/users/3/145759/isolated/preview/1ed942cd576a9f4ae65a8e1d85b71b60-fajo-de-dinero.png"
                    alt="">
                  <p id="contenido2">
                    En la reserva ya esta el precio fijo
                  </p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
       
        <ion-col size="12" class="ion-justify-content-start">

          <!-- Contador de cupos en el parqueadero -->
          <ion-row>
            <ion-col class="ion-justify-content-center position-relative" sizeLg="6" offsetLg="3" sizeSm="4"
              offsetSm="5" sizeXs="12">
              <p style="color: rgb(0, 224, 253);">
                Contador de Automoviles
              </p>

              <!-- Boton aumentar numero al dar clik -->

              <ion-button id="boton1" (click)=" numero = numero + 1;" expand="DEFAULT SIZE" color="primary" mode="ios"
                class="ion-text-center">
                <ion-icon id="icono" name="add-sharp"></ion-icon>
              </ion-button>

              <!-- Mostrara el numero resultante -->
              <span id="numcontador"> {{ numero }} </span>


              <!-- Boton disminuir numero al dar click -->
              <ion-button id="boton1" (click)=" numero = numero - 1;" expand="DEFAULT SIZE" color="danger" mode="ios"
                class="ion-text-center">
                <ion-icon id="icono" name="remove-sharp"></ion-icon>
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-col>

        <ion-footer color="primary">
          <ion-toolbar color="primary">
            © 2022 TuParqueadero - Todos los Derechos Reservados  
            <img src="../../../../../assets/icon/phone-solid.svg" width="20px">
          </ion-toolbar>
        </ion-footer>
        
      </ion-grid>
    </ion-content>