<ion-app>
  <ion-header>
    <ion-toolbar color="tuparqueaderocolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/parqueadero"></ion-back-button>
      </ion-buttons>
      <ion-item  color="tuparqueaderocolor" class="contenido">
      <ion-label>
        <ion-avatar>
          <img src="../../../assets/img/user/logo-parqueadero.png" class="imagen" />
          <ion-text class="Titulo">TuParqueadero</ion-text>
        </ion-avatar>
      </ion-label>
    </ion-item>
    </ion-toolbar>
  </ion-header>


<ion-content >
<ion-grid>
<ion-row>
  
  <ion-col *ngFor="let datosP of arreglos2;let i = index" sizeLg="6" offsetLg="3" sizeMd="6" offsetMd="3" sizeXs="12">
    <ion-card id="item" >
      <ion-card-content class="c">
        <img [src]="datosP.data.img" [alt]="datosP.Nombre">
        <p class="i textot">Telefono:</p>
        <p class="i textoc">{{ datosP.data.telefono }}</p>
        <div class="vermas">
          <button class="bvermas" (click)="presentModal(i)"> Ver mas </button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
 
  <ion-col *ngFor="let datost of arreglos4;let i = index" sizeLg="6" offsetLg="3" sizeMd="6" offsetMd="3" sizeXs="12">
    <ion-card id="item">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content class="c">
        <img [src]="datost.data.img" [alt]="datos.Nombre">
        <p class="i textot">Hora Ingreso:</p>
        <p class="i textoc">{{ datost.data.hourArrive }}</p>
        <p class="i textot">Telefono:</p>
        <p class="i textoc">{{ datost.data.telefono }}</p>
        <div class="vermas">
          <button class="bvermas" (click)="presentModal2(i)"> Ver mas </button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
