<ion-header>
  <ion-toolbar>
    <ion-title>Informacion de la cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="menu()">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-back-button slot="start" defaultHref="/admin"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="adminConf">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/admin" >Bandeja de entrada</ion-item>
        <ion-item routerLink="/admin/parqueaderos" >Parqueaderos</ion-item>
        <ion-item routerLink="/admin/configuracion-cuenta" >Configuración</ion-item>
        <ion-item routerLink="#" (click)="logout()">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="adminConf"></ion-router-outlet>
<ion-grid>
  <ion-row>
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="8" offsetSm="2">
    <ion-card-content class="ion-padding">
      <ion-item >
        <img src="../../../../assets/users.png" width="150px" class="imgp">
      </ion-item>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" placeholder="Nombres del Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" placeholder="Apellidos del Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" placeholder="Email del usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
        </ion-item>
        <ion-button  expand="block" size="large" color="success" class="ion-margin-top">
          Actualizar
        </ion-button>
        </ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
