<ion-app>
  <ion-header>
    <ion-toolbar color="tuparqueaderocolor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/parqueadero"></ion-back-button>
      </ion-buttons>
      <ion-item  color="tuparqueaderocolor" class="contenido">
      <ion-label>
        <ion-avatar>
          <img src="../../../assets/img/user/logo-parqueadero.png" class="imagen" />
          <ion-text class="Titulo">TuParqueadero</ion-text>
        </ion-avatar>
      </ion-label>
    </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-grid>
    <ion-row *ngIf="dataUser">
      <!-- * Tamaño en el cual se mostrara la informacion del usuario -->
      <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="8" offsetSm="2">
        <!-- * Componente que contendra la informacion del usuario -->
        <ion-card-content class="ion-padding">
          <!-- * Componente que muestra la imagen del usuario -->
          <ion-item class="ion-padding-top">
            <img [src]="dataUser.icono" width="150px" class="imgp">
          </ion-item>
          <!-- * Componente que nos permite actualizar la imagen del usuario -->
          <ion-item>
            <ion-icon name="create-outline" color="success" slot="end" (click)="actualizarImg()"></ion-icon>
          </ion-item>
          <!-- * Componente que muestra los nombres completos del usuario -->
          <ion-item>
            <h3 class="texto">Nombres y Apellidos:</h3>
          </ion-item>
          <ion-item>
            <ion-text>
              <p>{{ dataUser.nombre }}</p>
            </ion-text>
            <!-- * Componente que nos permite actualizar el nombre del usuario -->
            <ion-icon name="create-outline" color="success" slot="end" (click)="actualizarNombre()"></ion-icon>
          </ion-item>
          <!-- * Componente que muestra el correo del usuario -->
          <ion-item>
            <p class="texto">Correo:</p>
          </ion-item>
          <ion-item>
            <ion-text>
              <p>{{ dataUser.correo }}</p>
            </ion-text>
            <!-- * Componente que nos muestra un mensaje informativo -->
            <ion-icon slot="end" color="danger" name="information-circle-outline" (click)="informacion()"></ion-icon>
          </ion-item>
          <!-- * Componente que nos muestra el numero telefonico del usuario -->
          <ion-item>
            <p class="texto">Telefono:</p>
          </ion-item>
          <ion-item>
            <ion-text>
              <p>{{ dataUser.telefono }}</p>
            </ion-text>
            <!-- * Componente que nos permite actualizar el telefono del usuario -->
            <ion-icon name="create-outline" color="success" slot="end" (click)="actualizarTel()"></ion-icon>
          </ion-item>
          <!-- * Componente que nos muestra el rol del usuario  -->
          <ion-item>
            <p class="texto">Rol:</p>
          </ion-item>
          <ion-item>
            <ion-text>
              <p>{{ dataUser.perfil }} </p>
            </ion-text>
            <!-- * Componente que nos muestra un mensaje informativo -->
            <ion-icon slot="end" color="danger" name="information-circle-outline" (click)="informacion()"></ion-icon>
          </ion-item>
          <!-- * Componente que nos muestra el Id del usuario -->
          <ion-item>
            <p class="texto">Id de la cuenta:</p>
          </ion-item>
          <ion-item>
            <ion-text>
              <p>{{ dataUser.uid }}</p>
            </ion-text>
            <!-- * Componente que nos muestra un mensaje informativo -->
            <ion-icon slot="end" color="danger" name="information-circle-outline" (click)="informacion()"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
    </ion-grid>
    <!-- * Fin del contenido responsive -->
  </ion-content>
  <!-- * Fin del contenido -->
