<!-- <div *ngIf="dataUser?.perfil == 'usuario'">
  <ion-menu-toggle>
    <ion-button id="userMenu">
      <i class="fas fa-bars"></i>
    </ion-button>
  </ion-menu-toggle>
  
  <ion-menu side="start" menuId="first" contentId="userMenu">
    <ion-header>
      <ion-toolbar class="text-center" color="primary">
        <img class="img-menu-user" src="../../../../../assets/users.png" alt="icono">
        <ion-title class="mb-2">{{ dataUser.nombre }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/user" class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/home-icon.png" alt="icono-location">
          <ion-label class="ms-2">Inicio</ion-label>
        </ion-item>
        <ion-item class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/icon-location.png" alt="icono-location">
          <ion-label routerLink="/user/register-parking" class="ms-2">Inscribir parqueadero</ion-label>
        </ion-item>
        <ion-item routerLink="/user/mis-reservas" class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/reserva-icon.png" alt="icono-location">
          <ion-label class="ms-2">Gestionar reservas</ion-label>
        </ion-item>
        <ion-item class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/salir-icon.png" alt="icono-location">
          <ion-label class="ms-2"><a href="/login">Cerrar sesión</a></ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div> -->

<!--*Boton que abre el menu del usuario  -->
<ion-buttons>
  <ion-button (click)="abrir()" id="open">
    <ion-icon name="menu-outline" color="light"></ion-icon>
  </ion-button>
</ion-buttons>


<ion-grid class="menu-user">
  <ion-row class="menu menup animate__animated" *ngIf="dataUser" id="animacion"> 
    <ion-col size="12" class="col-menu">
      <div class="menu-header">
        <!--*Informacion del usuario actual -->
        <div class="div-img-user">
          <img [src]="dataUser.icono" width="120px" alt="Prueba">
        </div>
        <h2 class="menu-text" >{{ dataUser.nombre }}</h2>
      </div>
      <!--*Fin de la informacion del usuario actual -->
      <!--*Opciones por las cuales el usuario puede navegar -->
      <div class="content-menu">
        <!--*Navegacion a la pagina principal -->
        <ion-item routerLink="/user" class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/home-icon.png" alt="icono-location">
          <ion-label class="ms-2">Inicio</ion-label>
        </ion-item>
        <ion-item class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/icon-location.png" alt="icono-location">
          <ion-label routerLink="/user/register-parking" class="ms-2">Inscribir parqueadero</ion-label>
        </ion-item>
        <ion-item routerLink="/user/mis-reservas" class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/reserva-icon.png" alt="icono-location">
          <ion-label class="ms-2">Gestionar reservas</ion-label>
        </ion-item>
        <ion-item routerLink="/user/configuracion" class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/config-icon.png" alt="icono-location">
          <ion-label class="ms-2">Configuración</ion-label>
        </ion-item>
        <ion-item class="mt-3 mb-3">
          <img class="img-icon" src="./../../../../../assets/img/user/salir-icon.png" alt="icono-location">
          <ion-label class="ms-2"><a href="/login">Cerrar sesión</a></ion-label>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <!--*Fin del menu del usuario -->
</ion-grid>