<!-- !Pagina web y aplicacion movil:Tuparqueadero
!Equipo de Trabajo: miller nivia,Andres tibaquica,Cristofer tibaquicha,Santiago piraquive
!Ficha 2252471 ADSI
!Redes sociales: Tuparqueadero-->
<ion-header>
  <ion-toolbar>
    <ion-title>reservas locales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-grid>
  <ion-row>
  
    <!-- Contenido principal -->
    <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeXs="8" offsetXs="2">
  <h1 class="ion-text-center" id="titulo2">RESERVAS LOCALES</h1>
  </ion-col>

  <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>
  
   <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>

   <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>

   <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>

   <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>

   <!-- Espacio para ver si la reserva esta disponible o reservada  -->
  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto"  size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>

   <!-- Espacio para ver si la reserva esta disponible o reservada  -->

  <ion-col id="col1" sizeLg="6" offsetLg="3" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-avatar slot="start">
        <img id="imag2" src="../../../../../assets/perfil.png"/>
      </ion-avatar>
      <ion-button routerLink="/agre-info-auto" size="large" id="boton2" expand="block" color="medium" mode="ios" class="ion-margin-top">
        Disponible
      </ion-button>
    </ion-item>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>

